@font-face {
  font-family: "LibreFranklinRegular";
  src: url("fonts/LibreFranklin-Regular.ttf");
}

@font-face {
  font-family: "LibreFranklinMedium";
  src: url("fonts/LibreFranklin-Medium.ttf");
}

@font-face {
  font-family: "LibreFranklinBold";
  src: url("fonts/LibreFranklin-Bold.ttf");
}

@font-face {
  font-family: "LibreFranklinExtraBold";
  src: url("fonts/LibreFranklin-ExtraBold.ttf");
}

@font-face {
  font-family: "LibreFranklinThin";
  src: url("fonts/LibreFranklin-Thin.ttf");
}
