<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/theme.css" />
  <title>About Us</title>
</head>
<body>
  <header>
    <div class="nav-lip nav-lip--main-article"></div>
    <nav class="nav nav--main_article">
      <a class="nav__title-logo" href="fe201-blog-homepage.html">
        Clacks&
        <span>Thocc</span>
      </a>
      <a class="nav__logo-link" href="fe201-blog-homepage.html">
        <img
          class="nav__logo"
          src="../images/keyboard-logo.png"
          alt="colored keyboard logo" />
      </a>
      <ul>
        <li><a href="fe201-blog-homepage.html">Home</a></li>
        <li><a href="fe102-browse-page.html">Articles</a></li>
        <li>
          <a
            href="fe655-about-page.html"
            target="_blank">
            About Us
          </a>
        </li>
      </ul>
      <img
        class="nav__menu-button"
        src="../images/burger-menu.png"
        alt="menu button" />
    </nav>
  </header>
  <div class="grid-container">
    <section class="about-author-section">
      <h2 class="about-author-section__heading">Clacks & Thocc</h2>
      <p class="about-author-section__body">
        Clacks & Thocc is basically a "Heavily Inspired" online media
        platform, similar to how China copies every tech giant and sell them
        for cheap. We are focused on giving an amatuer, newbie slow push touch
        to the world of Mechanical Keyboards. That being said, Clacks & Thocc
        are determined to give professional content to all enthusiast, both
        new and broke.
      </p>
      <div class="author-card">
        <img src="../images/user.png" alt="author photo" />
        <div class="author-card__content">
          <h2 class="author-card__content__name">Main Author</h2>
          <p class="author-card__content__description">
            Author is the primary contributor to the site, both content and
            structure. Author is growing enthusiast for custom builds and
            modding.
          </p>
        </div>
      </div>
    </section>
  </div>
</body>
</html>
