.comments-section {
  grid-column: 2/9;
  margin: 2rem 0;

  @media #{$tablet-bp} {
    margin-top: 4rem;
  }

  @media #{$desktop-bp} {
    grid-column: 1 / 12;
    margin: 6rem 1rem 0 0;
    padding-right: 3rem;
  }

  &__header {
    padding-bottom: 1rem;
    border-bottom: 1px solidvar(--color-line-border);

    h3 {
      text-transform: uppercase;
      padding: 1rem 0 0.5rem 0;
    }

    p {
      color: #808080;
      font-size: 0.9rem;
    }
  }

  &__user-comment-container {
    margin: 0;

    @media #{$tablet-bp} {
      margin-top: 1rem;
    }

    @media #{$desktop-bp} {
      margin-top: 1.5rem;
    }
  }

  &__comment-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4rem;
    padding-top: 2rem;
    border-top: 1px solidvar(--color-line-border);

    @media #{$desktop-bp} {
      margin-top: 3rem;
    }

    .other-comment {
      &__user-img {
        width: 3rem;
        height: 3rem;
        padding: 1rem 0.875rem 1rem 0;

        @media #{$desktop-bp} {
          padding-right: 1rem;
          width: 5rem;
        }
      }

      &__content {
        h4 {
          font-size: 0.8rem;
          color: #808080;
        }

        p {
          line-height: 1.5rem;
          color: #272727;
        }
      }
    }
  }
}

.comment {
  &__user-img {
    float: left;
    max-width: 4rem;
    padding: 1rem 0.875rem 1rem 0;

    @media #{$tablet-bp} {
      padding: 1rem 0.5rem;
    }

    @media #{$desktop-bp} {
      padding-right: 1rem;
      width: 5rem;
    }
  }

  &__textarea {
    width: 95%;
    margin: 0 0 1rem 0;

    @media #{$desktop-bp} {
      width: 100%;
    }
  }

  &__button {
    width: 10rem;
    font-size: 0.875rem;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0.5rem;
    margin: 0;

    @media #{$desktop-bp} {
      width: 15rem;
      padding: 0.5rem;
      margin: 0;
    }

    &:hover {
      background-color: var(--color-main);
      border: none;
      color: var(--color-white);
    }
  }
}
